{% extends "blog/base.html" %}

{% block content %}

<h1> {{ post.title }} </h1>
<h4> Author: {{ post.author }} </h4>
<h4> Publication Date: {{ post.publish_datetime.date }}</h4>
<p>
    {{ post.text }}
</p>

<p style="padding-top: 100px; margin-bottom: -20px;"> <b> Comments: </b> </p>
{% for comment in comments %}
<p style="padding-top: 20px; padding-bottom:-5px; ">
    <b>
        <a href="{{comment.author.get_absolute_url}}">{{ comment.author }}: </a>
    </b>
    {{ comment.text }}
</p>
{% endfor %}
<form style="padding-top: 20px;" method="post">
    {% csrf_token %}
    <p style="float: left;"> Add your comment:{{ comment_form.as_p }}</p>
    <input type="submit" style="margin-left: 280px" value="Add" />
</form>
{% endblock %}